*{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(img/back.jpg);
    background-size: 100%;
    padding: 0 15px;
}
ul.task-list > li {
    display: table-row-group;
}
ul{
    display: inline-block;
}
.todo-list{
    min-height: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}
.task-list{
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 0px 6px #00000029;
    padding: 15px 15px;
}
.task-list__item{
    width: 570px;
    height: 40px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
}
.task-list__description{
    margin-left: 10px;
    text-align: center;
}
.todo-list__edit-button{
    border: none;
    background: none;
    cursor: pointer;
}
.todo-list__edit-button:hover, .todo-list__delete-button:hover{
    border: 1px solid #404040;
    border-radius: 30%;
}
.todo-list__delete-button{
    border: none;
    width: 32px;
    height: 25px;
    cursor: pointer;
    background: url('img/trashbin.png') 0% 0% no-repeat padding-box;
    background-size: 70% 80%;
    background-position: center;
}
.h{
    color: #707070;
    font: normal normal bold 20px/24px Arial;
}

/*появляющееся поле для изменений*/
.card-result{
    padding: 78px 0px 0;
    margin-left: -10px;
}
.task-form{
    width: 555px;
    background: #fff;
    height: 212px;
    box-shadow: 0px 6px 12px #00000029;
    border-radius: 6px;
    padding-left: 30px;
    padding-top: 22px;
    font: normal normal normal 18px/22px Arial;
}
.kartochka{
    text-align: left;
    font: normal normal normal 18px/22px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.zadacha{
    text-align: left;
    font: normal normal normal 14px/17px Arial;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.prioritet{
    text-align: left;
    font: normal normal normal 14px/17px Arial;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
/*кнопки редактирования*/
.redaction{
    margin-top: -20px;
    margin-left: 400px;
    width: 100px;
}

/*кнопка добавить*/

.dob{
    color: #707070;
    font: normal normal normal 14px/17px Arial;
}

input[type=text]{
    margin-bottom: 15px;
    margin-top: 5px;
}

.focus_zadacha input[type=checkbox]{
    width: 17px;
    height: 17px;
    margin-top: 5px;
}

/*кнопки сохранить и отменить*/

.sub_buttn{
    margin-top: 10px;
    background: #3F88E8 0% 0% no-repeat padding-box;
    border-radius: 32px;
    width: 126px;
    height: 32px;
    border: none;
    color: white;
    font: normal normal normal 14px/17px Arial;
}
.sub_buttn:hover{
    background: #b83fe8 0% 0% no-repeat padding-box;
    cursor: pointer;
}

.task-form__close-button{
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 32px;
    width: 126px;
    height: 32px;
    border: 1px solid #707070;
    color: #707070;
    font: normal normal normal 14px/17px Arial;
}
.task-form__close-button:hover{
    background: #707070 0% 0% no-repeat padding-box;
    color: #eee;
    cursor: pointer;
}

/**/

.todo-list__add-button {
    /*position: absolute;*/
    margin-left: 50%;
    z-index: -1;
    opacity: 0;
}
.todo-list__add-button + label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.todo-list__add-button + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #c3c3c3;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.todo-list__add-button:checked + label::before {
    background-image: url("img/plus.png");
}


/**/

.add{
    text-align: left;
    font: normal normal normal 14px/17px Arial;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}
.chapter{
    padding: 15px 0;
}

li:nth-child(even){
    background-color: #0606060A;
}
.task-list__description--done{
    text-decoration: line-through;
    color: #4f4f4f;
}